.ChatMain
  .Header
    .Header__Left
      .Header__Left__GroupName
        = @group.name
      .Header__Left__MemberNameList
        Member : 
        - @group.users.each do |user|
          = user.name
    .Header__Right
      = link_to edit_group_path(@group), class: "Header__Right__Edit" do
        Edit
  .MessageList
    = render @messages
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .CommentMain
        = f.text_field :body, placeholder: 'type a message', class: 'CommentMain__InputComment' 
        = f.label :image, class: 'CommentMain__Image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'CommentMain__Image__DateFile'
      = f.submit 'Send', class: 'SendBtn'
        

